.flex-container{
    background-color: hotpink;
    border: purple 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-around;
}
.flex-item{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 30px;
    padding: 30px;
    
    
    
}